
.hero {
  h1 {
    padding: 50px var(--container-margin) 30px;
  }

  .description {
    padding: 2rem var(--container-margin);
    background: var(--color-hero);
    border-top: thin solid var(--darken-1);
    border-bottom: thin solid var(--darken-1);
  }
}
